*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #202020;
}
a{
    text-decoration: none;
    color: #FFF;
}
a:hover{
    color: yellow;
}
a.active{
    color: yellow;
}
.container-wrapper{
    width: 100%;
}
.container{
    margin: 0 5%;
}
.flex{
    display: flex;
}
.justify-center{
    display: flex;
    justify-content: center;
}
.align-center{
    display: flex;
    align-items: center;
}
.w-half{
    width: 50%;
}
.img{
    width: 100%;
}
.logo-img{
    max-width: 80px;
}

.header{
    justify-content: space-between;
    margin: 10px 5%;
}
.menu{
    list-style-type: none;
    gap: 15px;
}
.hero-name h2{
    color: #FFF;
margin-left: 20%;
margin-top: 20%;
font-size: 70px;
}
.red-border{
    border:2px solid red;
   width: 100%;
margin-left: 20%;
margin-top: -22%;

}
.hero-img img{
    width: 100%;
    margin-top: 15%;
}
